
.idea/dataSources/6ae8f97b-37ce-44ff-99e4-bfa142df3539.xml
.idea/dataSources/6ae8f97b-37ce-44ff-99e4-bfa142df3539/storage_v2/_src_/schema/mydb.Kl8zAA.meta
.idea/dataSources/6ae8f97b-37ce-44ff-99e4-bfa142df3539/storage_v2/_src_/schema/mydb.Kl8zAA.zip
out/